/* slider section Testimonials */
.slick-slide > div {
  margin: 0 10px; 
}

.slick-list {
  margin: 0 -10px;
}
/* slider section ProductDetail */

.slick-prev:before, .slick-next:before {
  display: none;
}
.slick-slide > div {
 display: grid;
 place-items: center;

}

/* toast */
.custom-toast {
  z-index: 999 !important;
}

/* particles */
.particles-bg {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1 !important;
}

/* scrollBar */
/* عرض اسکرول‌بار */
html::-webkit-scrollbar {
  width: 12px;
}

/* پس‌زمینه داخل اسکرول (طوسی) */
html::-webkit-scrollbar-track {
  background: #dcdcdc; 

}

/* خود نوار اسکرول (نارنجی) */
html::-webkit-scrollbar-thumb {
  background: #EC7755; 
  border-radius: 10px;
  border: 2px solid #dcdcdc; 
}

/* sidbar scroll */
.sidbar_scroll::-webkit-scrollbar {
  width: 12px;
}

/* پس‌زمینه داخل اسکرول (طوسی) */
.sidbar_scroll::-webkit-scrollbar-track {
  background: #dcdcdc; 

}

/* خود نوار اسکرول (نارنجی) */
.sidbar_scroll::-webkit-scrollbar-thumb {
  background: #EC7755; 
  border-radius: 10px;
  border: 2px solid #dcdcdc; 
}



