/* slider section Testimonials */
.slick-slide > div {
  margin: 0 10px; 
}

.slick-list {
  margin: 0 -10px;
}
/* slider section ProductDetail */

.slick-prev:before, .slick-next:before {
  display: none;
}
.slick-slide > div {
 display: grid;
 place-items: center;

}

