@import "tailwindcss";

/* lato */
@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* roboto serif */
@font-face {
  font-family: 'RobotoSerif Regular';
  src: url('/fonts/RobotoSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSerif Bold';
  src: url('/fonts/RobotoSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* theme */
@theme {
  --font-Lato-Regular: "Lato Regular", sans-serif;
  --font-Lato-Bold: "Lato Bold", sans-serif;
  --font-RobotoSerif-Regular: "RobotoSerif Regular", sans-serif;
  --font-RobotoSerif-Bold: "RobotoSerif Bold", sans-serif;
  --text-4x-l-5: 2.5rem;
  --text-80px: 5rem;
  --text-27px: 1.68rem;
  --tracking-tightest: -0.04em;
  --tracking-tightest2: -0.03em;
  --tracking-tightest3: -0.02em;
  --tracking-tightest4: 0.03em;
  --radius-10px: 0.625rem;
  --radius-15px: 0.9375rem;
  --breakpoint-middle: 62.1875rem;
}

/* class */
@layer components {
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shadow-sub {
    box-shadow: 42px 42px 24px rgba(0, 0, 0, 0.01), 24px 24px 20px rgba(0, 0, 0, 0.03), 11px 11px 15px rgba(0, 0, 0, 0.04), 3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  }

  .transition-original {
    @apply transition-all duration-500 ease-in-out
  }
}

/* elements */

@layer base {
  body {
    font-family: var(--font-Lato-Regular);
    color: #2C2D2F;
    background: #FEE4D2;
  }
}

/* container */

@utility container {
  @apply mx-auto px-3.75 max-w-7xl
}